
/* ---------- Color Module Styles ----------- */

body,
body.overlay {
    color: #3b3b3b;
}
.comment .comment-arrow {
    border-color: #ffffff;
}
#page,
#main-wrapper {
    background: #ffffff;
}

#main-menu-links li a.active,
#main-menu-links li.active-trail a {
    background: #053163;
}

#main-menu-links li a {
    background: #5d83a3;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}

#main-menu-links li a:focus,
#main-menu-links li a:hover {
    background: #5d83a3;
    opacity: 0.8;
}
#main-menu-links li a.active:focus,
#main-menu-links li a.active:hover {
    background: #053163;
    opacity: 0.8;
}
.tabs ul.primary li a.active {
    background-color: #ffffff;
}
.tabs ul.primary li.active a {
    background-color: #ffffff;
    border-bottom: 1px solid #ffffff;
}
#header {
    background-color: #e0e0e0;
    border-bottom: 2px solid #053163;
}
a {
    color: #0071B3;
}
a:hover,
a:focus {
    color: #018fe2;
}
a:active {
    color: #23aeff;
}
.sidebar .block {
    background-color: #f6f6f2;
    border-color: #f9f9f9;
}
#page-wrapper,
#footer-wrapper {
    background: #292929;
}
.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
    color: #053163;
}

.views-field-created {
    color: #888;
}