/* ---------- ISB CSS overrides and additions ----------- */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);

body {
    font-size: 0.8em;
}

body, #site-slogan, .ui-widget, .comment-form label {
    font-family: "Open Sans", "Lucida Sans Unicode", "Lucida Sans", "Lucida Grande", Verdana, Geneva, sans-serif;
}

#content .section, .sidebar .section {
    padding: 0 20px;
}

#site-name a {
    font-weight: bold;
    font-size: 1.3em;
}

#site-name a:focus,
#site-name a:hover {
    text-decoration: none;
    text-shadow: 0 0 7px #7e91a3;
}

#logo {
    padding: 15px 15px 20px 20px
}

#name-and-slogan {
    padding: 15px 0 0;
    float: right;
    clear: right;
    margin-right: 20px;
}

#main-menu-links li a {
    font-weight: bold;
    font-size: 1.1em;
    padding: 0.5em 1.5em 0.3em 1.5em;
}

#secondary-menu-links a {
    padding: 0.5em 0.5em 0 0.5em;
}

.region-header {
    margin: 0.5em 0.5em 0 1em;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0.5em 0 0.3em;
}

.breadcrumb {
    padding: 0 20px;
}

.panel-responsive .rld-col {
    margin: 0 1% 0 0;
    padding: 0 0.5% 0 0;
}

.views-row {
    padding-bottom: 10px;
}

.view-standards .views-row-first {
    margin-top: 20px;
}

.field-label-inline .field-label,
.views-label {
    clear: both;
    float: left;
    font-weight: bold;
    width: 145px;
}

.field-label-inline .field-items,
.views-field .field-content {
    float: none;
    margin-left: 150px;
}

.view-news .field-content {
    margin: 0;
}

#content .views-field-title .field-content {
    margin: 8px 0;
}

#content .views-field-title h2.field-content {
    margin-bottom: 0;
}

#content .views-field-title .field-content a {
    padding-top: 10px !important;
}

.content .field {
    clear: both;
    border-top: 1px solid #aaa;
    padding: 8px 0;
    margin-bottom: 0;
}

.content .field-label-inline .field-items .field-item {
    padding-left: 10px;
    border-left: 1px dotted #aaa;
}

.node-teaser {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.view-news .attachment .views-row,
.view-faq .views-row,
.view-faq .views-row {
    border: none;
}

.field-name-field-controlled-list-values .field {
    border: none;
    padding: 3px;
    margin: 0;
}

.field-collection-container,
.field-type-field-collection .field {
    border: none;
    margin: 0;
}

table tr th {
    background: #eee;
    color: #3B3B3B;
    border: 1px solid #3B3B3B;
}

table tr td {
    background: #fff;
    color: #3B3B3B;
    border: 1px solid #3B3B3B;
}

.field-collection-view {
    border-bottom: none;
    margin: 0;
    padding: 0;
}

.content .field-name-field-notes,
.field-name-field-data-definitions-notes {
    font-size: 0.8em;
}

.content .field-name-field-controlled-list-desc p,
.content .field-name-field-controlled-list-desc,
.content .field-name-field-controlled-list-notes,
.content .field-name-field-entity-description p,
.content .field-name-field-entity-description,
.content .field-name-field-notes,
.content .field-name-field-data-definitions-notes {
    padding: 0;
    margin: 0;
}


.content .field-name-field-controlled-list-name,
.content .field-name-field-entity-type,
.content .field-name-field-entity-name {
    font-size: 1em;
    font-weight: bold;
    float: left;
    clear: none;
}


.content .field-name-field-entity-type .field-item:after {
    content: ": "
}
.content .field-name-field-entity-name {
    margin-left: 10px;
}

