form.node-standard-form #edit-field-data-definitions-value th,
form.node-standard-form #edit-field-controlled-list-values th {
    text-transform: none;
    padding-left: 0.666em;
}

form.node-standard-form #edit-field-data-definitions-values,
form.node-standard-form #edit-field-controlled-list-values {
    position: relative;
    padding-top: 1px;
}

form.node-standard-form #edit-field-data-definitions-values th:first-child label,
form.node-standard-form #edit-field-controlled-list-values th:first-child label {
    position: absolute;
    top: 5px;
    left: 0;
}

form.node-standard-form #edit-field-data-definitions-values .sticky-header th:first-child label,
form.node-standard-form #edit-field-controlled-list-values .sticky-header th:first-child label {
    display: none;
}


form.node-standard-form #edit-field-data-definitions-labels .field-widget-text-textfield,
form.node-standard-form #edit-field-controlled-list-labels .field-widget-text-textfield {
    float: left;
}

form.node-standard-form #edit-field-data-definitions-labels .field-widget-text-textfield input,
form.node-standard-form #edit-field-controlled-list-labels .field-widget-text-textfield input {
    max-width: 170px;
}

form.node-standard-form fieldset span {
    font-family: "Helvetica Neue",helvetica,"Segoe UI",segoe,"Ubuntu","Droid Sans","Arial",sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    font-weight: 700;
}

#edit-field-standard-date-und-0-value {
    padding: 0;
}

#edit-field-standard-date-und-0-value label {
    display: none;
}